---
import { getCollection } from "astro:content";
const posts = await getCollection("blog", ({ data }) => !data.draft);
import Layout from "../../layout/Layout.astro";
import { SITE } from "../../config";
import Link from "../../components/Link.astro";
import NavOptions from "../../components/NavOptions.astro";
---

<Layout>
  <NavOptions />
  <h1>Discover {SITE.author}'s Posts.</h1>
  <section class="posts">
    <h2>#. Posts</h2>
    <ul>
      {
        posts
          .sort(
            (a, b) =>
              Math.floor(b.data.pubDate / 1000) -
              Math.floor(a.data.pubDate / 1000)
          )
          .map((post) => (
            <li>
              <p>{post.data.pubDate.toISOString().split("T")[0]}</p>
              <Link href={`posts/${post.slug}`}>
                <p class="post-title">{post.data.title}</p>
              </Link>
            </li>
          ))
      }
    </ul>
  </section>
</Layout>

<style>
  .description {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-2x);
  }

  .posts ul {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  .posts ul li {
    display: flex;
    justify-content: space-between;
    column-gap: var(--spacing-8x);
  }

  .posts :global(a) {
    flex: 1;
  }

  @media screen and (max-width: 600px) {
    .posts ul li {
      flex-direction: column;
    }

    .posts ul {
      gap: var(--spacing-2x);
    }
  }
</style>
