---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
---

<Layout title={`Works | ${SITE.title}`}>
  <Header activeNav="works" />
  <Main pageTitle="Works" pageDesc="Here's My Some Of Featured Works">
    <p>wvxhqwb</p>
  </Main>
  <Footer />
</Layout>
