---
import LinkButton from "@components/LinkButton.astro";
import Socials from "@components/Socials.astro";
---

<section id="hero">
  <div class="my-8 flex flex-col gap-4 md:my-12">
    <h1 class="text-4xl font-bold tracking-wide">
      Hi, I'm <span class="text-primary">Kalana Kt.</span>
    </h1>
    <p class="text-lg">
      Welcome to my portfolio! I am a CTO at Netronk Innovation, with a passion
      for learning new programming stacks. I have experience in freelancing on
      platforms like Fiverr and am motivated to become a full-stack developer.
      Explore my work and feel free to get in touch. Check out the <LinkButton
        className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
        href="/about"
      >
        About
      </LinkButton> for more info.
    </p>
    <Socials />
  </div>
</section>
