---
const { post, link } = Astro.props;
import Link from "./Link.astro";
---

<div class="blog-card">
    <h4 class="title" transition:name={post.slug}>
        <Link href={link}>
            {post.data.title}
        </Link>
    </h4>
    <div class="tags">
        {post.data.tags && post.data.tags.map((tag: string) => <p>#{tag}</p>)}
    </div>
    <p class="date">
        {post.data.pubDate && post.data.pubDate.toISOString().split("T")[0]}
    </p>
</div>

<style>
    .blog-card {
        border: 0.5px dashed hsla(196, 61%, 58%, 0.75);
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 16px;
        animation-duration: 1s;
        width: 100%;
    }

    .title {
        color: #333;
        font-weight: normal;
        animation-duration: 1s;
        text-align: start;
    }

    .tags {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    .date {
        font-size: smaller;
        opacity: 0.7;
        animation-duration: 1s;
    }
</style>
