---
const { post, link } = Astro.props;
import { fade } from "astro:transitions";
import Link from "./Link.astro";
---

<div class="blog-card">
  <Link href={link}>
    <h4
      class="title"
      transition:name={post.slug}
    >
      {post.data.title}
    </h4>
  </Link>
  <div class="tags">
    {post.data.tags.map((tag: string) => <p>#{tag}</p>)}
  </div>
  <p class="date">
    {post.data.pubDate.toISOString().split("T")[0]}
  </p>
</div>

<style>
  .blog-card {
    border: 0.5px dashed hsla(196, 61%, 58%, 0.75);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    animation-duration: 1s;
    width: 100%;
  }

  /* Animation classes from Animate.css */
  .fade-in {
    animation-name: fadeIn;
  }

  .title {
    color: #333;
    font-weight: normal;
    animation-duration: 1s;
  }

  .tags {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .date {
    font-size: smaller;
    opacity: 0.7;
    animation-duration: 1s;
  }
</style>
