<section class="section" id="contact">
  <p class="pre"><span>#3</span>Get in touch</p>
  <h2>
    For work inquiries<br />please email:<br />
    <span>
      <a href="mailto:hello@volkerotto.net" class="email">
        contact@kalanakt.cc
      </a>
    </span>
  </h2>
  <p class="lead">
    More links: <a href="https://fiverr.com/kalanakt">Fiverr</a>, <a
      href="whatsapp://send?abid=+94760351335&text=Hello!">Whatsapp</a
    > and <a href="https://www.linkedin.com/in/kalanakt">Linkedin</a>.
  </p>
</section>

<style lang="css">
  .section {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    width: 100%;
    align-content: center;
    padding: 10vh 0 10vh 0;
  }

  .lead {
    display: block;
    font-size: 0.875rem;
    margin: 0;
    padding-top: 2rem;
  }

  .email {
    color: crimson;
  }

  @media (min-width: 30rem) {
    .lead {
      font-size: 1rem;
    }
  }
</style>
