---
import { SITE } from "../config";
---

<section class="hero">
  <span class="hello">hello,</span>
  <h1>
    I'm {SITE.author}, A problem solver, based in Sri Lanka.
  </h1>
  <p>{SITE.description}</p>
</section>

<style>
  .hello {
    font-size: 1rem;
    color: hsla(196, 61%, 58%);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .hero {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  @media screen and (max-width: 600px) {
    .hero {
      min-height: 40vh;
    }
  }
</style>
