---
import { SITE } from "../config";
---

<section class="hero">
  <p class="pre"><span>#1</span>Hello</p>
  <h1>
    I'm {SITE.author}
  </h1>
  <p>{SITE.description}</p>
</section>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5rem;
    padding: 10vh 1rem 10vh 1rem;
    background-image: url("bg/section.svg");
  }

  @media screen and (max-width: 600px) {
    .hero {
      min-height: 40vh;
    }
  }
</style>
