---
import { SITE } from "../config";
---

<section class="hero">
    <p class="pre"><span>#1</span>Hello</p>
    <h1>
        I'm {SITE.author}
    </h1>
    <p class="des">{SITE.description}</p>
</section>

<style>
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0.5rem;
        padding: 10vh 0 10vh 0;
        background-image: url("bg/section.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .des {
        margin-right: 2rem;
    }

    @media screen and (max-width: 600px) {
        .hero {
            min-height: 40vh;
        }
    }
</style>
