---
import { fade } from "astro:transitions";
import { SITE } from "../config";
---

<section class="hero" transition:animate={fade({ duration: "0.8s" })}>
  <span class="hello">hello,</span>
  <h1>
    I'm {SITE.author}, A problem solver, based in Sri Lanka.
  </h1>
  <p>{SITE.description}</p>
</section>

<style>
  .hello {
    font-size: 1rem;
    color: hsla(196, 61%, 58%);
    font-weight: 600;
    text-transform: uppercase;
  }
  .hero {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (max-width: 600px) {
    .hero {
      min-height: 40vh;
    }
  }
</style>
