<nav data-navbar>
    <ul class="nav-ul">
        <li>
            <a target="_blank" href="https://www.github.com/kalanakt">#work</a>
        </li>
        <li>
            <a href="/posts/1">#writings</a>
        </li>
        <li>
            <a href="mailto:ontact@kalanakt.cc">#contact</a>
        </li>
    </ul>
</nav>

<style>
    nav {
        display: none;
    }

    nav.st {
        bottom: calc(100vh - 2.5rem);
    }

    .nav-ul {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        padding: 0.25rem 1rem 0.25rem 1rem;
    }

    @media screen and (max-width: 600px) {
        nav {
            display: block;
            position: sticky;
            bottom: 2rem;
            background-color: #fcf6bd;
            border-radius: 0.25rem;
            transition: bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    }
</style>

<script lang="js" is:inline>
    function fn() {
        const navbar = document.querySelectorAll("[data-navbar]");
        const offset = navbar[0].getBoundingClientRect();
        const scrollTop =
            window.pageYOffset || document.documentElement.scrollTop;

        navbar.forEach((element) => {
            if (scrollTop >= offset.height) {
                element.classList.add("st");
            } else {
                element.classList.remove("st");
            }
        });
    }

    window.addEventListener("scroll", fn);
</script>
