---
import type { CollectionEntry } from "astro:content";

import Card from "./BlogCard.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<section class="posts">
  <slot />
  <ul>
    {
      posts
        .sort(
          (a, b) =>
            Math.floor(b.data.pubDate / 1000) -
            Math.floor(a.data.pubDate / 1000),
        )
        .map((post) => (
          <li>
            <Card post={post} link={`/posts/${post.slug}`} />
          </li>
        ))
    }
  </ul>
</section>

<style>
  .posts ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  .posts ul li {
    display: flex;
    justify-content: space-between;
    column-gap: var(--spacing-8x);
  }

  .posts :global(a) {
    flex: 1;
  }

  @media screen and (max-width: 600px) {
    .posts ul li {
      flex-direction: column;
    }

    .posts ul {
      gap: var(--spacing-2x);
    }
  }
</style>
