---
import Logo from "./Logo.astro";
---

<nav>
  <Logo />
  <ul class="nav-ul">
    <li>
      <a target="_blank" href="https://www.github.com/kalanakt">work</a>
    </li>
    <li>
      <a href="/posts">writings</a>
    </li>
    <li>
      <a href="mailto:kalanakt@icloud.com">contact</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
  }

  @media screen and (max-width: 600px) {
    .nav-ul {
      display: none;
    }
  }
</style>
