---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import MobileMenu from "../components/MobileMenu.astro";
import TopMenuBar from "../components/TopMenuBar.astro";
import BgLines from "../components/BgLines.astro";
import { SITE } from "../config";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  head?: {
    title?: string;
    description?: string;
  };
}

const {
  head = {
    title: SITE.title,
    description: SITE.description,
  },
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{head.title}</title>
    <meta name="description" content={head.description} />
    <meta name="author" content={SITE.author} />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Kalana kt's Blog"
      href="/rss.xml"
    />

    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="revisit-after" content="7 days" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
      crossorigin="anonymous"
    />
    <ViewTransitions />
  </head>
  <body>
    <TopMenuBar />
    <BgLines />
    <main>
      <slot />
    </main>
    <Footer />
    <MobileMenu />
    <style>
      body {
        display: table;
        flex-direction: column;
        margin: 0 auto;
        width: 80vw;
        padding-top: var(--spacing-2x);
        padding-bottom: var(--spacing-2x);
        font-family: "Outfit", "Trebuchet MS", "Lucida Sans Unicode",
          "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
      }

      header {
        padding: 0 10px 0 10px;
        background-color: darkorange;
        font-weight: 500;
        opacity: 50%;
      }

      main {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-4x);
        min-height: 90vh;
      }

      @media screen and (min-width: 769px) {
        body {
          width: 60vw;
        }
      }

      @media screen and (min-width: 1100px) {
        body {
          width: 50vw;
        }
      }
    </style>
  </body>
</html>
